@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto:wght@500&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color:rgb(199, 194, 194);
    color: black;
    width: 434px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav {
    padding: 40px;
}

.sidebar nav li {
    list-style: none;
    font-size: 23px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: navy; */
    width: 90vw
}

.container {
    display: flex;
}

.infoContainer {
    display: flex;
    /* background-color: blue; */
    height: 45vh;
    width: 80vw;
    height: 58vh;
    margin: 142px auto;
    justify-content: space-around;
}

.contactContainer {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    height: 45vh;
    width: 80vw;
    height: 38vh;
    margin-top: 280px;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 25px;

}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.contactContainer .contactform .mb-4 {
    margin-top: 4px;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 50px;
}

.name {
    margin-top: 23px;
    font-size: 40px;
    font-weight: bold;
}

.about {
    margin-top: 23px;
    font-size: 30px;
}

.education {
    margin-top: 23px;
    font-size: 25px;
}

.skills {
    margin-top: 23px;
    font-size: 21px;
}

.buttons {
    margin-top: 50px;
}

.buttons button {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 22px;
    color: black;
    background-color: rgb(199, 194, 194);
    border:rgb(199, 194, 194) 2px solid;
    font-size: 15px;
    font-weight: bold;
    margin: 0 6px;
    cursor: pointer;
}

.buttons button a {
    text-decoration: none;
    color: black;
}

.buttons button:hover{
    background-color: black;
    color: rgb(199, 194, 194);

}

.buttons button a:hover{
    background-color: black;
    color: rgb(199, 194, 194);

}


.devpic img {
    height: 58vh;

}